apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: nginx
  name: stable-deployment
spec:
  replicas: 4
  selector:
    matchLabels:
      app: stable-canary-app
      track: stable
  strategy: {}
  template:
    metadata:
      labels:
        app: stable-canary-app
        track: stable
    spec:
      containers:
      - image: nginx:alpine
        name: stable
        imagePullPolicy: IfNotPresent
        ports:
          - containerPort: 80
        resources: {}
        volumeMounts:
          - name: html
            mountPath: /usr/share/nginx/html
      volumes:
        - name: html
          configMap:
            name: stable-config
status: {}

