apiVersion: v1
kind: Pod
metadata:
  name: dev-demo-pod
spec:
  restartPolicy: Never
  containers:
    - name: app
      image: busybox
      command:
        - sh
        - -c
        - |
          echo "app_name=$APP_NAME"
          echo "log_level=$LOG_LEVEL"
          echo "feature_flag=$FEATURE_FLAG"
          echo "timeout=$TIMEOUT"
      env:
        - name: APP_NAME
          valueFrom:
            configMapKeyRef:
              name: demo-config
              key: app_name
        - name: LOG_LEVEL
          valueFrom:
            configMapKeyRef:
              name: demo-config
              key: log_level
        - name: FEATURE_FLAG
          valueFrom:
            configMapKeyRef:
              name: demo-config
              key: feature_flag
        - name: TIMEOUT
          valueFrom:
            configMapKeyRef:
              name: demo-config
              key: timeout
